body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #aaa;
  display: flex;
  flex-wrap: wrap;
}

input[type="text"] {
  background-color: #eee;
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  text-align: right;
}

input[type="button"] {
  background-color: #aaa;
  color: #fff;
  border: none;
  width: 25%;
  padding: 20px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

input[type="button"]:hover {
  background-color: #777;
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px #555;
}

input[type="button"]:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 10px #555;
}
